html,head,body { padding:0; margin:0; height: 100%; width: 100%; }
body { font-family: calibri, helvetica, arial, sans-serif; }
h1 { padding: 14px; background-color: #086788; margin: 0px; color: white; font-weight: bold; }
#fv-path { padding: 14px; background-color: #06aed5; margin: 0px; color: white; font-weight: bold; }
#fv-path > li { cursor: pointer; display: inline-block; padding: 0px 5px; }
#fv-searchbar { padding: 5px; text-align: center; }
#fv-searchbar > input { width: 50%; max-width: 80%; min-width: 300px; }
.fv-list { list-style-type: none; padding: 5px; }
.fv-list > li { margin: 8px; display: inline-block; cursor: pointer; }
.fv-folder-list { }
.fv-folder-list > li { background-color: #f0c808; color: white; text-align: center; width: 134px; padding: 8px; word-break: break-all; }

.iv-button { opacity: 0.5; }
#iv-button-prev,#iv-button-next { top: 0px; height: 100%; width: 30%; position: absolute }
#iv-button-next > div { position: relative; top: 50%; }
#iv-button-prev > div { position: relative; top: 50%; }
#iv-button-prev { left: 0px; }
#iv-button-next { right: 0px; text-align: right; }
#iv-toolbar { position: absolute; top: 0px; right: 0px }
#iv-toolbar > div { display: inline-block; }
#iv-img-container { position: absolute; height: 100%; width: 100%; text-align: center; }
#iv-img-container > .img-fullwidth { width: 100%; }
#iv-img-container > .img-fullheight { height: 100%; }

// color1 = "#086788"
// color2 = "#06aed5"
// color3 = "#f0c808"
// color4 = "#fff1d0"
// color5 = "#dd1c1a"
